<!doctype html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

{% seo %}
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <script src="https://code.jquery.com/jquery-3.3.0.min.js" integrity="sha256-RTQy8VOmNlT6b2PIRur37p6JEBZUE7o8wPgMvu18MC4=" crossorigin="anonymous"></script>
    <script src="{{ '/assets/js/main.js' | relative_url }}"></script>
    <!--[if lt IE 9]>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js" integrity="sha256-3Jy/GbSLrg0o9y5Z5n1uw0qxZECH7C6OQpVBgNFYa0g=" crossorigin="anonymous"></script>
    <![endif]-->
    {% include head-custom.html %}

  </head>
  <body>

      <header>
        <h1>{{ page.title | default: site.title | default: site.github.repository_name }}</h1>
        <p>{{ page.description | default: site.description | default: site.github.project_tagline }}</p>
      </header>

      <div id="banner">
        <a href="https://i2kconference.org" class="button fork">Home</a>
        <a href="https://airtable.com/appE66koIe2ofWJw7/shr2DZI2uwCyw4taP"  class="button2 fork2" target="_blank">Submit a Workshop</a>
        <a href="https://tinyurl.com/I2K-2023-Zoom" class="button3 fork3">Zoom Event & Registration</a>
        <div class="downloads">
            <span><b>Program :</b></span>
            <ul>
              <li><a href="http://i2kconference.org/workshops" class="button" target="_blank">Workshops</a></li>
            </ul>
          </div>
      </div><!-- end banner -->



    <div class="airtable-wrapper">
      <nav>
        <ul></ul>
      </nav>
      <airtable-section>
        {{ content }}
      </airtable-section>
    </div>
  </body>
</html>
