<!doctype html>
<html lang="{{ site.lang | default: " en-US" }}">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">

  {% seo %}
  <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
  <script src="https://code.jquery.com/jquery-3.3.0.min.js"
    integrity="sha256-RTQy8VOmNlT6b2PIRur37p6JEBZUE7o8wPgMvu18MC4=" crossorigin="anonymous"></script>
  <script src="{{ '/assets/js/main.js' | relative_url }}"></script>
  <!--[if lt IE 9]>
          <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js" integrity="sha256-3Jy/GbSLrg0o9y5Z5n1uw0qxZECH7C6OQpVBgNFYa0g=" crossorigin="anonymous"></script>
        <![endif]-->
  {% include head-custom.html %}

</head>

<body>

  <header>
    <h1>{{ page.title | default: site.title | default: site.github.repository_name }}</h1>
    <p>{{ page.description | default: site.description | default: site.github.project_tagline }}</p>
  </header>

  <div id="banner">
    <a href="https://humantechnopole.it/en/trainings/1/" class="button fork">Register to attend in person</a>
    <a href="https://www.i2kconference.org/virtual" class="button2 fork2">Learn about the virtual event</a>
    <a href="https://airtable.com/appZL2v7JOpcEtqUN/shrREBlIImTkizb6s"  class="button3" target="_blank">Submit a Workshop for the virtual event</a>
    <!-- <a href="https://www.tickcounter.com/countdown/5067207/i2k-registration-opening" class="button fork2">Registration</a>     -->
    <!-- <a href="https://tinyurl.com/I2K-2023-Zoom" class="button fork3">Program</a> -->
    <!-- <div class="downloads">
      <span><b>Program :</b></span>
      <ul>
        <li><a href="http://i2kconference.org/workshops" class="button" target="_blank">Workshops</a></li>
      </ul>
    </div> -->
  </div><!-- end banner -->

  <div class="wrapper">
    <nav>
      <ul></ul>
    </nav>
    <section>
      {{ content }}
    </section>
    <footer>
      {% if site.github.is_project_page %}
      <p><small>Project maintained by <a href="https://github.com/smgriffin2">smgriffin2</a> and <a
            href="https://github.com/bethac07">bethac07</a></small></p>
      {% endif %}
      <p><small>Hosted on GitHub Pages &mdash; Theme by <a href="https://twitter.com/mattgraham">mattgraham</a></small>
      </p>
    </footer>
  </div>
</body>

</html>
